.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 5%;
    
}

.logo{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: sans-serif;
    color: #fff;
    padding-top: 2%;
}

.nav{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 2%;
}

.link{
    font-family: sans-serif;
    font-size: 1.1rem;
    color: #fff;
    text-decoration: none;
    padding-bottom: 1%;
    transition: color 0.3s linear;
}

.link:hover{
    color: rgba(255, 255, 255, 0.342)
}
