.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
    width: 55%;
    margin: 10% auto;
}

.formular{
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.151);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    padding: 2% 2%;
}

.formular form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 15px;
}

.formular form input{
    width: 80%;
    height: 4vh;
    font-family: sans-serif;
    font-weight: 600;
    padding: 4%;
    border: 3px solid rgba(255, 255, 255, 0.308);
    background-color: transparent;
    color: #fff;
}

.formular form input::placeholder{
    color: #fff;
}

.formular form input:focus{
    color: #fff;
}

.formular form select{
    width: 80%;
    height: 4vh;
    padding: 4%;
    background-color: transparent;
    font-family: sans-serif;
    border: 3px solid rgba(255, 255, 255, 0.308);
    color: white;
    background-color: rgba(0, 0, 0, 0.185);
}

.formular form select:focus{
    color: #fff;
}

.formular form option{color: #000;}

.formular form select::placeholder{
    color: #fff;
}

.formular form button{
    width: 80%;
    height: 5vh;
    border: none;
    border-radius: 8px;
    font-family: sans-serif;
    font-weight: 700;
    transition: background-color 0.3s linear;
    color: #fff;
    background-color: #ffffff23;
}

.formular form button:hover{
    background-color: #ffffff50;
}


