.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
    width: 55%;
    margin: 10% auto;
}

.formular{
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.137);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    padding: 2% 2%;
}

.formular form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 15px;
}

.formular form input{
    width: 80%;
    height: 5vh;
    font-family: sans-serif;
    font-weight: 600;
    border: 3px solid rgba(0, 0, 0, 0.322);
    background-color: transparent;
    color: #fff;
    border-radius: 9px;
    padding-left: 2%;
}

.formular form input::placeholder{
    color: #fff;
}

.formular form input:focus::placeholder{
    color: #cac9c981;
}

.formular form input:focus{
    outline: none;
}

.formular form select{
    width: 80%;
    height: 5vh;
    background-color: transparent;
    color: #fff;
    padding-left: 2%;
    border-radius: 9px;
    border: 3px solid rgba(0, 0, 0, 0.322);
}

.formular form select:focus{
    outline: none;
}

.formular form option{
    background-color: rgb(0, 75, 44);
    font-family: sans-serif;
    font-weight: 600;
}

.formular form button{
    width: 80%;
    height: 5vh;
    border: none;
    border-radius: 8px;
    font-family: sans-serif;
    font-weight: 700;
    transition: background-color 0.3s linear;
    color: #fff;
    background-color: #ffffff23;
}

.formular form button:hover{
    background-color: #ffffff50;
}


